<h2>Products Multi-Select</h2>
<app-shared-multi-select
  [options]="products"
  [placeholder]="'Select Products'"
  [labelField]="'productDescription'"
  [valueField]="'productTypeId'"
  (selectionChange)="onProductsSelectionChange($event)"
>
</app-shared-multi-select>
<p>Current Product Selection: {{ selectedProducts | json }}</p>

<hr />

<h2>Vendors Multi-Select</h2>
<app-shared-multi-select
  [options]="vendors"
  [placeholder]="'Select Vendors'"
  [labelField]="'vendorName'"
  [valueField]="'vendorId'"
  (selectionChange)="onVendorsSelectionChange($event)"
>
</app-shared-multi-select>
<p>Current Vendor Selection: {{ selectedVendors | json }}</p>

<hr />

<h2>States Multi-Select</h2>
<app-shared-multi-select
  [options]="states"
  [placeholder]="'Select States'"
  [labelField]="'stateName'"
  [valueField]="'stateCode'"
  (selectionChange)="onStatesSelectionChange($event)"
>
</app-shared-multi-select>
<p>Current State Selection: {{ selectedStates | json }}</p>
