<!-- <mat-form-field appearance="fill">
  <mat-label>Select Products</mat-label>
  <mat-select [formControl]="productSelectControl" multiple>
    <div class="search-box">
      <input
        matInput
        placeholder="Search products..."
        [formControl]="productSearchControl"
      />
      <span
        matSuffix
        class="clear-search-icon"
        *ngIf="productSearchControl.value"
        (click)="clearSearch($event)"
      >
        <mat-icon>close</mat-icon>
      </span>
    </div>

    <mat-option (click)="toggleAllSelection()" value="all">All</mat-option>

    <mat-option
      *ngFor="let product of filteredProducts"
      [value]="product.productTypeId"
    >
      {{ product.productDescription }}
    </mat-option>

    <mat-option *ngIf="filteredProducts.length === 0" [disabled]="true">
      No matching products
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="productSelectControl.value">
  <h3>Selected Product Type IDs:</h3>
  <p>{{ productSelectControl.value | json }}</p>
</div> -->

<h2>Products Multi-Select</h2>
<app-shared-multi-select
  [options]="products"
  [placeholder]="'Select Products'"
  [labelField]="'productDescription'"
  [valueField]="'productTypeId'"
  (selectionChange)="onProductsSelectionChange($event)"
>
</app-shared-multi-select>
<p>Current Product Selection: {{ selectedProducts | json }}</p>

<hr />

<h2>Vendors Multi-Select</h2>
<app-shared-multi-select
  [options]="vendors"
  [placeholder]="'Select Vendors'"
  [labelField]="'vendorName'"
  [valueField]="'dentalVendorId'"
  (selectionChange)="onVendorsSelectionChange($event)"
>
</app-shared-multi-select>
<p>Current Vendor Selection: {{ selectedVendors | json }}</p>

<hr />

<h2>States Multi-Select</h2>
<app-shared-multi-select
  [options]="states"
  [placeholder]="'Select States'"
  [labelField]="'stateName'"
  [valueField]="'stateCode'"
  (selectionChange)="onStatesSelectionChange($event)"
>
</app-shared-multi-select>
<p>Current State Selection: {{ selectedStates | json }}</p>
